Flow4.json
[{"id":"87c4b54c.d6a5c8","type":"function","z":"ee632c2d.78da3","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["c732c5ae.14ca58","f280331e.2b737"]]},{"id":"4ae5327d.fcc55c","type":"http in","z":"ee632c2d.78da3","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":80,"y":220,"wires":[["87c4b54c.d6a5c8"]]},{"id":"433bddcb.e724f4","type":"rpi-gpio in","z":"ee632c2d.78da3","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":80,"y":360,"wires":[["cacff37f.e03ee"]]},{"id":"cacff37f.e03ee","type":"function","z":"ee632c2d.78da3","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["f280331e.2b737"]]},{"id":"f280331e.2b737","type":"debug","z":"ee632c2d.78da3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":360,"wires":[]},{"id":"c732c5ae.14ca58","type":"http response","z":"ee632c2d.78da3","name":"","statusCode":"","headers":{},"x":490,"y":180,"wires":[]}]