Flow5.json
[{"id":"364dabb3.ea2c14","type":"http in","z":"1a3fb1f9.480d9e","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":60,"y":180,"wires":[["c78ffc0b.493ab","19bf8a45.39e146"]]},{"id":"c78ffc0b.493ab","type":"function","z":"1a3fb1f9.480d9e","name":"Set to 1","func":"msg.payload =1;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":180,"wires":[["379a9ccf.ad0954"]]},{"id":"379a9ccf.ad0954","type":"rpi-gpio out","z":"1a3fb1f9.480d9e","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":420,"y":320,"wires":[]},{"id":"19bf8a45.39e146","type":"function","z":"1a3fb1f9.480d9e","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["53199c9.5846664","1dd414b4.ed950b"]]},{"id":"53199c9.5846664","type":"http response","z":"1a3fb1f9.480d9e","name":"","statusCode":"","headers":{},"x":670,"y":200,"wires":[]},{"id":"1dd414b4.ed950b","type":"debug","z":"1a3fb1f9.480d9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":420,"wires":[]},{"id":"a17a4973.9e16a8","type":"http in","z":"1a3fb1f9.480d9e","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":460,"wires":[["ed3ab412.712658","71bed2e5.b45f8c"]]},{"id":"ed3ab412.712658","type":"function","z":"1a3fb1f9.480d9e","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":460,"wires":[["379a9ccf.ad0954"]]},{"id":"71bed2e5.b45f8c","type":"function","z":"1a3fb1f9.480d9e","name":"Return Status","func":"msg.payload = \"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":580,"wires":[["53199c9.5846664","1dd414b4.ed950b"]]}]